판다스 - 데이터 분석 도구     
- 구성요소 3가지

#### Series 구조     
- 판다스가 제공하는 객체
- 객체 생성 : 생성자 호출 -> 전역변수 초기화 된다 -> 파라미터에 아부것도 없는 것 : 디폴트 생성자
- pd는 Series의 소유주다

In [ ]:
import pandas as pd
se = pd.Series([1, 2, 3, 4, 5])

DataFrame(데이터 프레임)
- pandas에서 행과 열을 가지는 자료구조
- 데이터 프레임은 2차원이므로 행 방향 인덱스와 열방향 인덱스가 존재
- 데이터 프레임은 열, 인덱스, 값으로 구성

In [10]:
data = {
    'name' : ['Lee', 'Park', 'Kim', 'Choi'],
    'score' : [80, 90, 100, 70],
    'grade' : ['B', 'A', 'A', 'C']
    }
df = pd.DataFrame(data)
df

   name  score grade
0   Lee     80     B
1  Park     90     A
2   Kim    100     A
3  Choi     70     C

In [11]:
df = pd.DataFrame(data, columns=['name', 'grade', 'score'])
df

   name grade  score
0   Lee     B     80
1  Park     A     90
2   Kim     A    100
3  Choi     C     70